body {
  height: 100%;
  background-color: #AAA;
}

#page-wrapper {
  background-color: #AAA;
  height: 100%;
  width: 100%;
  /*display: flex;
  align-items: center;
  justify-content: center;*/

  padding: 15px;
}

#page-wrapper .container {
  border-radius: 5px;
}

#page-wrapper .row {

}

#page-wrapper .col {

}

#page-wrapper .section {
  padding-top: 15px;
  padding-bottom: 15px;
}

#page-wrapper .section.search {
  /*background-color: #E1F5FE;*/
  background-color: #999;
  border-radius: 5px 5px 0px 0px;
}

#page-wrapper .section.url {
  /*background-color: #E8F5E9;*/
  background-color: #999;
}

#page-wrapper .section.fsu {
  /*background-color: #FFEBEE;*/
  background-color: #999;
}

#page-wrapper .section.links {
  /*background-color: #FFFDE7;*/
  background-color: #999;
  border-radius: 0px 0px 5px 5px;
}

#math-button {
  padding: 0px 10px;
}
